In [1]:
# Annual Air Quality Data from EPA

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
pd.options.display.max_columns = 9999

In [3]:
# Importing files 

pc = pd.read_csv("park_coordinates.csv")
pcrounded = pc.round({"Latitude": 4, "Longitude": 3})

df_2015 = pd.read_csv("2015_air_quality.csv")
df_2016 = pd.read_csv("2016_air_quality.csv")
df_2017 = pd.read_csv("2017_air_quality.csv")
df_2018 = pd.read_csv("2018_air_quality.csv")
df_2019 = pd.read_csv("2019_air_quality.csv")

In [4]:
# Data Cleaning
# 2015 Data
df_2015 = df_2015.loc[(df_2015["Parameter Name"]=="Ozone") & 
                       (df_2015["Pollutant Standard"]=="Ozone 8-hour 2015")]
df_2015 = df_2015[["Year", "Local Site Name", "Latitude", "Longitude", "Arithmetic Mean"]]

#2016 Data
df_2016 = df_2016.loc[(df_2016["Parameter Name"]=="Ozone") & 
                       (df_2016["Pollutant Standard"]=="Ozone 8-hour 2015")]
df_2016 = df_2016[["Year", "Local Site Name", "Latitude", "Longitude", "Arithmetic Mean"]]

#2017 Data
df_2017 = df_2017.loc[(df_2017["Parameter Name"]=="Ozone") & 
                       (df_2017["Pollutant Standard"]=="Ozone 8-hour 2015")]
df_2017 = df_2017[["Year", "Local Site Name", "Latitude", "Longitude", "Arithmetic Mean"]]

#2018 Data
df_2018 = df_2018.loc[(df_2018["Parameter Name"]=="Ozone") & 
                       (df_2018["Pollutant Standard"]=="Ozone 8-hour 2015")]
df_2018 = df_2018[["Year", "Local Site Name", "Latitude", "Longitude", "Arithmetic Mean"]]

#2019 Data
df_2019 = df_2019.loc[(df_2019["Parameter Name"]=="Ozone") & 
                       (df_2019["Pollutant Standard"]=="Ozone 8-hour 2015")]
df_2019 = df_2019[["Year", "Local Site Name", "Latitude", "Longitude", "Arithmetic Mean"]]

In [5]:
# Merging air quality datasets with park coordinates data

def cartesian_product_basic_2015(left, right):
    return (df_2015.assign(key=1).merge(pcrounded.assign(key=1), on='key').drop('key', 1))
df_2015_merged = cartesian_product_basic_2015(df_2015, pcrounded)

def cartesian_product_basic_2016(left, right):
    return (df_2016.assign(key=1).merge(pcrounded.assign(key=1), on='key').drop('key', 1))
df_2016_merged = cartesian_product_basic_2016(df_2016, pcrounded)

def cartesian_product_basic_2017(left, right):
    return (df_2017.assign(key=1).merge(pcrounded.assign(key=1), on='key').drop('key', 1))
df_2017_merged = cartesian_product_basic_2017(df_2017, pcrounded)

def cartesian_product_basic_2018(left, right):
    return (df_2018.assign(key=1).merge(pcrounded.assign(key=1), on='key').drop('key', 1))
df_2018_merged = cartesian_product_basic_2018(df_2018, pcrounded)

def cartesian_product_basic_2019(left, right):
    return (df_2019.assign(key=1).merge(pcrounded.assign(key=1), on='key').drop('key', 1))
df_2019_merged = cartesian_product_basic_2019(df_2019, pcrounded)

df_2019_merged

,Year,Local Site Name,Latitude_x,Longitude_x,Arithmetic Mean,Latitude_y,Longitude_y,Park
0,2019,"FAIRHOPE, Alabama",30.497478,-87.880258,0.042245,44.3386,-68.273,Acadia National Park
1,2019,"FAIRHOPE, Alabama",30.497478,-87.880258,0.042245,-14.2583,-170.683,National Park of American Samoa
2,2019,"FAIRHOPE, Alabama",30.497478,-87.880258,0.042245,38.7331,-109.593,Arches National Park
3,2019,"FAIRHOPE, Alabama",30.497478,-87.880258,0.042245,43.8554,-102.340,Badlands National Park
4,2019,"FAIRHOPE, Alabama",30.497478,-87.880258,0.042245,29.1275,-103.243,Big Bend National Park
...,...,...,...,...,...,...,...,...
79479,2019,San Luis Rio Colorado Well 10,32.466389,-114.768611,0.047608,43.6046,-103.421,Wind Cave National Park
79480,2019,San Luis Rio Colorado Well 10,32.466389,-114.768611,0.047608,61.7104,-142.986,Wrangell-St. Elias National Park & Preserve
79481,2019,San Luis Rio Colorado Well 10,32.466389,-114.768611,0.047608,44.4280,-110.588,Yellowstone National Park
79482,2019,San Luis Rio Colorado Well 10,32.466389,-114.768611,0.047608,37.8651,-119.538,Yosemite National Park
79483,2019,San Luis Rio Colorado Well 10,32.466389,-114.768611,0.047608,37.2982,-113.026,Zion National Park

In [6]:
# Subsetting air quality monitoring sites within 30 miles

df_2015_unclean = df_2015_merged[
    ((abs(df_2015_merged["Latitude_x"] - df_2015_merged["Latitude_y"])) <= 0.44) &\
    ((abs(df_2015_merged["Longitude_x"] - df_2015_merged["Longitude_y"])) <= 0.44)
]

df_2016_unclean = df_2016_merged[
    ((abs(df_2016_merged["Latitude_x"] - df_2016_merged["Latitude_y"])) <= 0.44) &\
    ((abs(df_2016_merged["Longitude_x"] - df_2016_merged["Longitude_y"])) <= 0.44)
]

df_2017_unclean = df_2017_merged[
    ((abs(df_2017_merged["Latitude_x"] - df_2017_merged["Latitude_y"])) <= 0.44) &\
    ((abs(df_2017_merged["Longitude_x"] - df_2017_merged["Longitude_y"])) <= 0.44)
]

df_2018_unclean = df_2018_merged[
    ((abs(df_2018_merged["Latitude_x"] - df_2018_merged["Latitude_y"])) <= 0.44) &\
    ((abs(df_2018_merged["Longitude_x"] - df_2018_merged["Longitude_y"])) <= 0.44)
]

df_2019_unclean = df_2019_merged[
    ((abs(df_2019_merged["Latitude_x"] - df_2019_merged["Latitude_y"])) <= 0.44) &\
    ((abs(df_2019_merged["Longitude_x"] - df_2019_merged["Longitude_y"])) <= 0.44)
]

df_2015_unclean

,Year,Local Site Name,Latitude_x,Longitude_x,Arithmetic Mean,Latitude_y,Longitude_y,Park
1759,2015,Grand Canyon NP - The Abyss,36.058640,-112.183600,0.046911,36.1070,-112.113,Grand Canyon National Park
4138,2015,Petrified Forest NP - South Entrance,34.822510,-109.892490,0.044830,34.9100,-109.807,Petrified Forest National Park
4204,2015,SAGUARO PARK,32.174538,-110.737116,0.046253,32.2967,-111.167,Saguaro National Park
4266,2015,22ND & CRAYCROFT,32.204411,-110.878067,0.042608,32.2967,-111.167,Saguaro National Park
4328,2015,TANGERINE,32.425261,-111.063520,0.044657,32.2967,-111.167,Saguaro National Park
...,...,...,...,...,...,...,...,...
91555,2015,ENUMCLAW - MUD MTN (Army Corp of Engineers site),47.141100,-121.937900,0.042993,46.8800,-121.727,Mount Rainier National Park
91617,2015,ENUMCLAW - MUD MTN (Army Corp of Engineers site),47.141100,-121.937900,0.042993,46.8800,-121.727,Mount Rainier National Park
91741,2015,MT RAINIER - JACKSON VISITIORS CENTER,46.784100,-121.740367,0.040940,46.8800,-121.727,Mount Rainier National Park
96372,2015,Grand Teton NP - Science School,43.670833,-110.599472,0.044408,43.7410,-110.802,Grand Teton
96469,2015,Yellowstone NP - Water Tank,44.565360,-110.400340,0.046814,44.4280,-110.588,Yellowstone National Park

In [7]:
# Creating pivot tables for each year and merge them together

pivot_2015 = pd.pivot_table(df_2015_unclean, values = "Arithmetic Mean", index = ["Year"], columns = ["Park"])
pivot_2016 = pd.pivot_table(df_2016_unclean, values = "Arithmetic Mean", index = ["Year"], columns = ["Park"])
pivot_2017 = pd.pivot_table(df_2017_unclean, values = "Arithmetic Mean", index = ["Year"], columns = ["Park"])
pivot_2018 = pd.pivot_table(df_2018_unclean, values = "Arithmetic Mean", index = ["Year"], columns = ["Park"])
pivot_2019 = pd.pivot_table(df_2019_unclean, values = "Arithmetic Mean", index = ["Year"], columns = ["Park"])

pivot_tables = [pivot_2015, pivot_2016, pivot_2017, pivot_2018, pivot_2019]
ozone_data = pd.concat(pivot_tables, sort=False)
ozone_data.to_csv("ozone_data.csv")
ozone_data

,Acadia National Park,Arches National Park,Badlands National Park,Big Bend National Park,Biscayne National Park,Canyonlands National Park,Carlsbad Caverns National Park,Channel Islands National Park,Congaree National Park,Cuyahoga Valley National Park,Death Valley National Park,Everglades,Glacier National Park,Grand Canyon National Park,Grand Teton,Great Basin National Park,Great Smoky Mountains National Park,Guadalupe Peak,Hot Springs National Park,Indiana Dunes National Park,Joshua Tree National Park,Kings Canyon National Park,Lassen Volcanic National Park,Mammoth Cave,Mesa Verde National Park,Mount Rainier National Park,Museum at the Gateway Arch,Petrified Forest National Park,Pinnacles National Park,Redwood National and State Parks,Rocky Mountain National Park,Saguaro National Park,Sequoia & Kings Canyon National Parks,Shenandoah National Park,Theodore Roosevelt National Park,Voyageurs National Park,Wind Cave National Park,Yellowstone National Park,Yosemite National Park,Zion National Park,Black Canyon of the Gunnison National Park
Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2015,0.039481,0.051795,0.044364,0.041703,0.031419,0.051795,0.048481,0.040324,0.038446,0.041822,0.047455,0.031093,0.039420,0.046911,0.044408,0.045544,0.042447,0.050037,0.037421,0.041469,0.047579,0.057327,0.044413,0.041036,0.045619,0.042337,0.042342,0.044830,0.039208,0.028213,0.051992,0.043594,0.057327,0.042994,0.044762,0.035769,0.046033,0.046814,0.051375,0.051763,NaN
2016,0.037727,0.051434,0.044721,0.042206,0.033681,0.051434,0.049146,0.037369,0.041367,0.044314,0.047498,0.034401,0.033667,0.047014,0.043316,0.046654,0.045550,0.050753,0.036928,0.042745,0.046647,0.057673,0.043457,0.041936,0.046866,0.035140,0.043044,0.046309,0.038372,0.026516,0.052874,0.044741,0.057673,0.042745,0.041507,0.031195,0.045925,0.044683,0.053709,0.051678,NaN
2017,0.038381,0.047654,0.046389,0.043608,0.034706,0.047654,0.048710,0.038164,0.039431,0.042156,0.049341,0.035064,0.040389,0.048785,0.044996,0.047363,0.043134,0.048598,0.037993,0.042805,0.052953,0.057324,0.045392,0.041867,0.044535,0.043313,0.043637,0.047890,0.040038,0.027270,0.050251,0.046246,0.057324,0.042644,0.043962,0.034222,0.046798,0.048718,0.052176,0.046385,NaN
2018,0.038959,0.047997,0.045785,0.042599,0.035235,0.047997,0.053107,0.040574,0.037478,0.040897,0.050444,0.034776,0.041394,0.049259,0.047832,0.048315,0.042122,0.054493,0.037430,0.041598,0.050881,0.058177,0.046282,0.040802,0.048771,0.040483,0.043691,0.048152,0.038976,0.025458,0.051369,0.046085,0.058177,0.040585,0.044343,0.036807,0.045715,0.049246,0.052739,0.046870,0.039425
2019,0.038305,0.049500,0.046183,0.046184,0.035032,0.049500,0.056101,0.041170,0.042761,0.043217,0.051939,0.036146,0.038993,0.049744,0.045742,0.049378,0.043517,0.060545,0.038547,0.044139,0.051398,0.055448,0.044755,0.043525,0.047327,0.036319,0.044975,0.049809,0.038974,0.031283,0.050835,0.047926,0.055448,0.044232,0.040521,0.037591,0.045298,0.046139,0.045387,0.048779,0.040874